# Analysis of Immigration Canada Subreddit

## Data Cleaning

In [1]:
# Importing libraries
import pandas as pd
import datetime as dt
from datetime import datetime
import seaborn as sns
from ydata_profiling import ProfileReport
from wordcloud import WordCloud
from wordcloud import STOPWORDS
import matplotlib.pyplot as plt

### Data Import

In [83]:
# Importing reddit data from csv
df_all = pd.read_csv('reddit_all_posts.csv')
df_all.name = 'df_all'
df_mixed = pd.read_csv('reddit_mixed_posts.csv')
df_mixed.name = 'df_mixed'
df_top = pd.read_csv('reddit_top_posts.csv')
df_top.name = 'df_top'

# Ensuring 'selftext' column or submission body type string
df_all['selftext'] = df_all['selftext'].astype(str)
df_mixed['selftext'] = df_mixed['selftext'].astype(str)
df_top['selftext'] = df_top['selftext'].astype(str)

### Missing body submission

In [58]:
# Identify the columns with duplicate submission or missing submission body
boolean = df_all.duplicated(subset=['selftext'])

In [59]:
df_all[boolean]['selftext']

14                                                     nan
15                                                     nan
25                                                     nan
31                                                     nan
35                                                     nan
                               ...
62563    Hi all, I hope you are doing great. So ill exp...
62564                                            [removed]
62565    Hi all, I hope you are doing great. So ill exp...
62566                                            [removed]
62567                                            [removed]
Name: selftext, Length: 61972, dtype: object

In [60]:
# Identify the number of submission body removed
df_all[df_all['selftext'] == '[removed]'].count()

Unnamed: 0         21327
Year               21327
selftext           21327
author             21327
author_fullname    16951
title              21327
link_flair_text    17885
ups                  373
num_comments       21327
id                 21327
media_embed        21327
created_utc        21327
upvote_ratio       20634
dtype: int64

In [62]:
# View submissions with submission body removed to identify if these records should be removed
df_all[df_all['selftext'] == '[removed]'].head()

,Unnamed: 0,Year,selftext,author,author_fullname,title,link_flair_text,ups,num_comments,id,media_embed,created_utc,upvote_ratio
321,321,2015,[removed],immigrationxiphias,NaN,Migrate to Canada,NaN,1.0,0,3yncn5,{},2015-12-29 12:10:57,NaN
328,328,2015,[removed],immigrationxiphias,NaN,Canada Immigration Services Calgary,NaN,1.0,0,3y9xlv,{},2015-12-26 10:48:03,NaN
329,329,2015,[removed],[deleted],NaN,Canada Immigration Services Calgary,NaN,1.0,0,3y9wxe,{},2015-12-26 10:37:57,NaN
340,340,2015,[removed],immigrationxiphias,NaN,XIPHIAS IMMIGRATION REVIEWS - CUSTOMER REVIEWS,NaN,1.0,0,3xxptx,{},2015-12-23 06:58:44,NaN
362,362,2015,[removed],ghimmigration,NaN,Golden Hands Immigration Inc. GH Immigration Inc.,NaN,0.0,0,3x1rxa,{},2015-12-16 06:27:00,NaN

In [70]:
# Identify submissions with no submission body
df_all[df_all['selftext'] =='nan'].count()

Unnamed: 0         3084
Year               3084
selftext           3084
author             3084
author_fullname    2234
title              3084
link_flair_text    1864
ups                 605
num_comments       3084
id                 3084
media_embed        3084
created_utc        3084
upvote_ratio       1691
dtype: int64

In [67]:
# View submissions with no submission body to identify if these records should be kept
df_all[df_all['selftext'] == 'nan'].head(5)

,Unnamed: 0,Year,selftext,author,author_fullname,title,link_flair_text,ups,num_comments,id,media_embed,created_utc,upvote_ratio
9,9,2013,nan,CramBoom,NaN,So you think you're Canadian? - Game-show to t...,NaN,1.0,0,1pbs0y,"{'width': 600, 'height': 450, 'content': '&lt;...",2013-10-27 18:31:22,NaN
14,14,2013,nan,ranger28,NaN,Canadian Immigration | live and work in Canada...,NaN,0.0,0,1md4wi,{},2013-09-14 06:22:35,NaN
15,15,2013,nan,[deleted],NaN,Canada’s new immigration program welcomes firs...,NaN,1.0,0,1kknpp,{},2013-08-17 22:32:50,NaN
25,25,2013,nan,ninjah778,NaN,Immigration tips for students/visitors - getti...,NaN,1.0,0,1bflor,{},2013-04-01 17:31:55,NaN
31,31,2013,nan,[deleted],NaN,At the moment. All posts seem to be hitting th...,NaN,4.0,4,189fty,{},2013-02-10 20:05:51,NaN

In [80]:
# Function to remove submissions with removed body or Nan
def submission_body(df):
    """Function to drop rows associated with submissions where selftext is removed or Nan
    Input: Dataframe
    Output: Count of submissions with no body, count of submission with removed body, and dataframe info"""
    no_body = df[df['selftext'] == 'nan']
    removed = df[df['selftext'] == '[removed]']
    df.drop(no_body.index, inplace=True)
    df.drop(removed.index, inplace=True)
    print(df.name)
    print('Submissions with no body removed:', no_body.count())
    print('Submission with removed body:', removed.count())
    print(df.info())
    return df

In [85]:
# Apply function to current dataframes
df_all_analysis = submission_body(df_all)
df_mixed_analysis = submission_body(df_mixed)
df_top_analysis = submission_body(df_top)

df_all
Submissions with no body removed: Unnamed: 0         0
Year               0
selftext           0
author             0
author_fullname    0
title              0
link_flair_text    0
ups                0
num_comments       0
id                 0
media_embed        0
created_utc        0
upvote_ratio       0
dtype: int64
Submission with removed body: Unnamed: 0         0
Year               0
selftext           0
author             0
author_fullname    0
title              0
link_flair_text    0
ups                0
num_comments       0
id                 0
media_embed        0
created_utc        0
upvote_ratio       0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 38157 entries, 0 to 62565
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       38157 non-null  int64
 1   Year             38157 non-null  int64
 2   selftext         38157 non-null  object
 3   author           38157 non-null  object
 4   author_fullname  30159 non-null  object
 5   title            38157 non-null  object
 6   link_flair_text  31371 non-null  object
 7   ups              1460 non-null   float64
 8   num_comments     38157 non-null  int64
 9   id               38157 non-null  object
 10  media_embed      38157 non-null  object
 11  created_utc      38157 non-null  object
 12  upvote_ratio     28682 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 5.1+ MB
None
df_mixed
Submissions with no body removed: Unnamed: 0         45
author_fullname    42
author             42
selftext           45
title              45
upvote_ratio       45
ups                45
link_flair_text    39
id                 45
num_comments       45
created_utc        45
media_embed        45
dtype: int64
Submission with removed body: Unnamed: 0         0
author_fullname    0
author             0
selftext           0
title              0
upvote_ratio       0
ups                0
link_flair_text    0
id                 0
num_comments       0
created_utc        0
media_embed        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 953 entries, 0 to 997
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       953 non-null    int64
 1   author_fullname  894 non-null    object
 2   author           894 non-null    object
 3   selftext         953 non-null    object
 4   title            953 non-null    object
 5   upvote_ratio     953 non-null    float64
 6   ups              953 non-null    int64
 7   link_flair_text  851 non-null    object
 8   id               953 non-null    object
 9   num_comments     953 non-null    int64
 10  created_utc      953 non-null    object
 11  media_embed      953 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 129.1+ KB
None
df_top
Submissions with no body removed: Unnamed: 0         124
selftext           124
author_fullname    117
title              124
ups                124
link_flair_text    105
upvote_ratio       124
media_embed        124
created            124
num_comments       124
id                 124
dtype: int64
Submission with removed body: Unnamed: 0         0
selftext           0
author_fullname    0
title              0
ups                0
link_flair_text    0
upvote_ratio       0
media_embed        0
created            0
num_comments       0
id                 0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 875 entries, 0 to 998
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       875 non-null    int64
 1   selftext         875 non-null    object
 2   author_fullname  833 non-null    object
 3   title            875 non-null    object
 4   ups              875 non-null    int64
 5   link_flair_text  812 non-null    object
 6   upvote_ratio     875 non-null    float64
 7   media_embed      875 non-null    object
 8   created          875 non-null    object
 9   num_comments     875 non-null    int64
 10  id               875 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 114.3+ KB
None

### Duplicates

### Missing category & Other category

In [1]:
# Wordcloud application

### Unsupported media